.form {
  display: block;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 400px;
  line-height: 1.5;
  color: rgb(25, 24, 58);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: aliceblue;
  font-size: 14px;
  padding: 8px 14px;
}

button {
  background-color: rgb(60, 175, 94);
  width: 200px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 1.5rem;
  font-size: large;
  font-weight: bold;
}

.form-control {
  margin-bottom: 20px;
}

.form-errors {
  margin-top: 5px;
  text-align: left;
  color: red;
}
